@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
}

.crypto-table td, 
.crypto-table th{
  padding: 10pt 15pt;
}

@media (max-width: 450px){
    .crypto-table td, 
    .crypto-table th{
    padding: 10pt 3pt;
  }
}